@font-face {
  font-family: 'TencentFont';
  font-weight: normal;
  src: url('../assets/fonts/TencentSans-W7.ttf') format('truetype'),
    url('../assets/fonts/TencentSans-W7.woff') format('woff');
}
